html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /*
   * CSS image reference example.
   */
}

button {
    text-decoration: none;
    display: inline-flex;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 1px;
    color: pink;
    padding: 100px 30px;
    margin: 170px 150px;
    border-radius: 50px;
    border: 10px solid greenyellow;
    background-color: purple;
    cursor: pointer;
    outline: transparent;
}

button:disabled {
    color: white;
}